/* Chỉnh sửa cho màn hình di động */
/* Responsive styles for mobile devices */
@media only screen and (max-width: 768px) { /* Chỉnh kích thước theo nhu cầu của bạn */

  /* Chỉnh sửa "Fundrinsing for" */
  .custom-dropdown-icon {
      font-size: 14px; /* Giảm kích thước chữ */
  }

  /* Chỉnh sửa nút "button" */
  .custom-button {
      font-size: 12px; /* Giảm kích thước chữ */
      padding: 8px 16px; /* Điều chỉnh lề để nút trở nên lớn hơn và dễ nhấn */
  }
}

.horizontal-scroll {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* Thêm cho việc cuộn mượt mà trên iOS */
  scrollbar-width: none; /* Ẩn thanh cuộn trên các trình duyệt hỗ trợ mới */
  -ms-overflow-style: none; /* Ẩn thanh cuộn trên Internet Explorer */
}

.horizontal-scroll::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trên các trình duyệt dựa trên WebKit như Chrome và Safari */
}


@media (max-width: 768px) { /* Đây là giả sử, bạn có thể điều chỉnh kích thước theo nhu cầu của mình */

  /* Sidebar Toggler */
  #sidebarToggle {
      display: block;
  }

  /* Hiển thị form tìm kiếm dạng dropdown */
  .navbar-search {
      display: block !important; /* !important chỉ được sử dụng khi cần thiết */
  }

  /* Thêm padding hoặc margin để điều chỉnh khoảng cách */
  .custom-dropdown-icon {
      padding-right: 10px; /* Điều chỉnh khoảng cách giữa biểu tượng và nội dung */
  }

  /* Nút "Start a campaign" */
  .custom-button {
      display: block;
      width: 100%;
      margin-top: 10px; /* Khoảng cách giữa nút và các phần tử khác */
  }

  /* Chỉnh sửa dropdown của người dùng */
  #userDropdown {
      display: block;
  }
}



.custom-dropdown {
  font-size: 1.2em; /* Kích thước phông chữ lớn hơn */
  font-weight: bold; /* In đậm */
  color: #333; /* Màu chữ tối */
  /* Bổ sung các thuộc tính khác nếu cần */
}

.custom-dropdown-icon {
  margin-right: 8px; /* Khoảng cách giữa biểu tượng và chữ */
}

.custom-button {
  width: 150px;
  height: 40px;
  margin-top: 15px;
  background-color: rgb(121, 9, 121); /* Màu nền xanh */
  border: none;
 
  font-size: 0.9em; /* Giảm kích thước font */
  color: #fff; /* Màu chữ trắng */
  border-radius: 5px; /* Bo góc */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi */
}

.custom-button:hover {
  background-color: #0056b3; /* Màu nền xanh nhạt khi di chuột qua */
}






.purple-text {
  color: #882488f6;
}

.img-profile {
    width: 40px; /* Đặt kích thước chiều rộng cho ảnh */
    height: 40px; /* Đặt kích thước chiều cao cho ảnh */
    object-fit: cover; /* Đảm bảo ảnh không bị méo khi thay đổi kích thước */
}
.member-img img {
    border-radius: 20px; /* Góc bo tròn */
    width: 330px;       /* Chiều rộng */
    height: 200px;      /* Chiều cao */
    object-fit: cover;  /* Đảm bảo ảnh không bị méo khi thay đổi kích thước */
}

.truncate-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-line-clamp: 2; /* Số dòng tối đa */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow: hidden;
  /* Các thuộc tính khác có thể được thêm vào đây nếu cần */
}




.custom-image {
    
    height: 300px; /* Set the height */
    border-radius: 20px;
    object-fit: cover;
    /* You can also add other styles as needed */
}


.progre-bar {
    width: 90%;
    background-color: #ddd;
    height: 5px;
    margin-top: 20px;
    border-radius: 15px; /* Độ cong của góc bên ngoài thanh tiến trình */
  overflow: hidden;
  }
  
  .progre {
    height: 100%;
    background-color: #4CAF50; /* Màu xanh lá cây */
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: bold;
    border-radius: 15px; /* Độ cong của 2 đầu thanh tiến trình */
    position: relative;
  }
  
  .progre::before,
  .progre::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 30px; /* Chiều rộng của đầu tròn */
    background-color: #4CAF50; /* Màu xanh lá cây */
    border-radius: 50%;
  }
  
  .progre::before {
    left: -30px; /* Đầu tròn bên trái */
  }
  

  